---
files:
  "/opt/newrelic/newrelic.yml":
    mode: "000644"
    owner: root
    group: root
    content: |
      common: &default_settings
        license_key: 'e9b6eb2ece83569607caf7f1211276251b7c76e8'
        agent_enabled: true
        app_name: spring-petclinic
        high_security: true
        log_file_name: newrelic_agent.log
        ssl: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: JVM Options
    value: "-javaagent:/var/lib/tomcat8/webapps/ROOT/WEB-INF/lib/newrelic.jar"
  - namespace: aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name: newrelic.config.file
    value: "/opt/newrelic/newrelic.yml" 
